<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109823189369-tf1vp68etnujtp5umde99qg8tulis6nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109823189369-tf1vp68etnujtp5umde99qg8tulis6nh</string>
	<key>API_KEY</key>
	<string>AIzaSyDNQbdfXa_IZLmB1wBdlSBLwvnxAXVt9SI</string>
	<key>GCM_SENDER_ID</key>
	<string>109823189369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.msudenver.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>hamiltj2-wasteagram</string>
	<key>STORAGE_BUCKET</key>
	<string>hamiltj2-wasteagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109823189369:ios:41b3febcd074fbdef50fa8</string>
	<key>DATABASE_URL</key>
	<string>https://hamiltj2-wasteagram.firebaseio.com</string>
</dict>
</plist>